.btn {
	border-radius: 4px;
	padding: 8px 25px;
	
	cursor: pointer;
	
	font-style: normal;
	font-weight: 400;
	font-size: 1.4rem;
	line-height: 2.4rem;
	
	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;
	
	transition: background-color .2s ease-in-out, color .2s ease-in-out, box-shadow .2s ease-in-out;
}

.btn-primary {
	background-color: #222;
	color: #fff;
}

.btn-primary:hover {
	box-shadow: inset 0 0 0 2px #222;
	background: #fff;
	
	color: #666;
}

.btn-blue {
	background-color: #0278ED;
	color: #fff;
}

.btn-blue:hover {
	box-shadow: inset 0 0 0 2px #0278ED;
	background: #fff;
	
	color: #0278ED;
}

.btn-red {
	background-color: #FF5437;
	color: #fff;
}

.btn-red:hover {
	box-shadow: inset 0 0 0 2px #FF5437;
	background: #fff;
	
	color: #FF5437;
}

.btn-orange {
	background-color: #FF9209;
	color: #fff;
}

.btn-orange:hover {
	box-shadow: inset 0 0 0 2px #FF9209;
	background: #fff;
	
	color: #FF9209;
}